<form class="container form mymodel-form container clearfix">

    <div class="form-input-row">
        <div class="six columns" >
            <label><%= __.t('Attribute :') %></label>
            <input type="text" class="topcoat-text-input" name="attribute" />
        </div>

        <div class="six columns" >
            <label><%= __.t('Attribute 2 :') %></label>
            <input type="text" class="topcoat-text-input" name="attribute2" />
        </div>
    </div>

    <div class="form-actions">
        <div class="two columns offset-ten" >
            <input class="topcoat-button--cta" type="submit" value="Poster" />
        </div>
    </div>

</form>

<div class="mymodel-list topcoat-list">
    <h3 class="topcoat-list__header"><%= __.t('Models :') %></h3>
    <ul class="topcoat-list__container">
    </ul>
</div>
