<form class="form login-form clearfix">

    <div class="form-input-row">
        <div class="six columns" >
            <label>Username :</label>
            <input type="text" class="topcoat-text-input" name="username" />
        </div>

        <div class="six columns" >
            <label>Password :</label>
            <input type="password" class="topcoat-text-input" name="password" />
        </div>
    </div>

    <div class="form-actions">
        <div class="two columns offset-ten" >
            <input class="topcoat-button--cta" type="submit" value="Login" />
        </div>
    </div>

</form>
